{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "prettier/prettier": 2,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
